<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ol>
      <% feeds.forEach( function(feed){%>
       <li><%=console.log(feed)%></li> 
       <% }); %>
</ol>

  </body>
</html>